include README.md
include LICENSE
include requirements.txt
include setup-soldb.sh
include test-setup.sh
recursive-include scripts *.sh
recursive-include examples *.sol
exclude soldb.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store